@charset "UTF-8";
h1 {
  color: red;
}

#log table {
  border: solid#808000;
}

#form {
  margin-top: 20px;
}

#form {
  width: 550px;
  height: 150px;
  border: solid#808000;
}

#back {
  margin-top: 20px;
}
