@charset "UTF-8";
h1 {
  color: red;
}

#form {
  width: 550px;
  height: 280px;
  border: solid#808000;
}

#search {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border: solid#808000;
}

#search select {
  margin-top: 5px;
}

#log {
  margin-top: 20px;
}

#log table {
  border: solid#808000;
}
